.print-area{
    padding: 20px 40px;
}
.title{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    color: #003366;
    margin-bottom: 10px;
}
.table{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #151515;
    background-color: #fff;
}
.table thead{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #003366;
    border-left: 2px solid #003366;
    border-right: 2px solid #003366;
    text-align: left;
}
.table th{
    padding: 10px 20px;
}
.table th:nth-of-type(1),
.table th:nth-of-type(2),
.table th:nth-of-type(3),
.table th:nth-of-type(4){
    width: 25%;
}
.table td{
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
}
.table td:nth-of-type(1){
    border-left: 2px solid #ddd;
}
.table td:nth-last-of-type(1){
    border-right: 2px solid #ddd;
}
.btn-print{
    cursor: pointer;
    display: block;
    width: 100px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    background-color: #003366;
    border-radius: 5px;
    padding: 10px 0px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.5s ease;
}
.btn-print:hover{
    background-color: #225588;
}